# Ignore auxiliary LaTeX files
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.nav
*.snm
*.vrb
*.bbl
*.blg
*.lof
*.lot
*(busy)

# Ignore report source
*.tex
!*.pdf

# Ignore specific folders if needed
*images/
*hidden/
*code/
